# R session files
.Rhistory
.RData
.Ruserdata

# Local environment variables
.Renviron

# Project startup config
.Rprofile

# macOS system files
.DS_Store

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
